.header {
    height: 10vh;
    display: flex;
    align-items: center;
    background: var(--deep-blue-300);
    background: linear-gradient(
      90deg,
      var(--deep-blue-300) 0%,
      var(--deep-blue-200) 70%,
      var(--deep-blue-100) 100%
    );
    padding: var(--space-200);
    border-bottom: 1.3px solid var(--deep-blue-300);
  }
  .header__title {
    color: var(--light-blue-100);
    letter-spacing: 0.1px;
    font-size: var(--font-size-400);
    font-weight: 500;
    padding-right: var(--space-200);
    border-right: 1px solid var(--deep-blue-100);
  }
  .header__title span {
    color: var(--gold);
  }
  .header__search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12rem;
  }
  .header__search-input {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 1px;
    background-color: var(--deep-blue-200);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
      to right,
      var(--gold),
      var(--deep-blue-200)
    );
    padding: 0.7rem 2rem;
    width: 80%;
    transition: var(--transition);
    margin-right: -3.5rem;
    color: var(--light-blue-300);
  }
  .header__search-input:hover {
    box-shadow: var(--box-shadow);
  }
  .header__search-input:focus {
    outline: none;
    width: 100%;
    color: var(--light-blue-100);
  }
  .header__search-input::-webkit-input-placeholder {
    letter-spacing: 1px;
    color: var(--light-blue-300);
  }
  .header__search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header__search-button:focus {
    outline: none;
  }
  .header__search-button:active {
    transform: translateY(2px);
  }
  .header__search-icon {
    border: none;
    height: 2rem;
    width: 2rem;
    color: var(--light-blue-100);
  }
  