.placesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 52rem;
  height: calc(90vh - 4rem);
  margin-left: var(--space-200);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-left: 2px solid #b3bece;
  scroll-behavior: smooth;
}
.placesList::-webkit-scrollbar {
  width: 1rem;
}
.placesList::-webkit-scrollbar-track,
.placesList::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: var(--box-shadow);
}
.rating {
  padding: 0 var(--space-100);
}
.rating-control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-200);
}
.rating label,
.rating select {
  font-family: inherit;
  font-size: inherit;
  color: var(--deep-blue-200);
}
.rating label {
  margin-right: var(--space-200);
}
.rating select {
  padding: 0.5rem var(--space-200);
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--light-blue-100);
  border-bottom: 2px solid #b3bece;
}
.loading{
  height: 600px;
  display:flex;
 align-items: center;
 justify-content: center;
}

