@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  /* color variables  */
  --light-blue-100: #eef3fd;
  --light-blue-200: #e1e9f8;
  --light-blue-300: #d2ddf0;
  --light-blue-400: #587bb8;
  --deep-blue-100: #2855a4;
  --deep-blue-200: #102750;
  --deep-blue-300: #071225;
  --gold: #fdbf49;
  --gray: #6c7a92;

  /* font variables  */
  --font-size: 1rem;
  --font-size-100: 1.3rem;
  --font-size-200: 1.6rem;
  --font-size-400: 2.6rem;

  /* margin/padding variables  */
  --space-100: 1rem;
  --space-200: 2rem;
  --space-400: 4rem;

  /* transition variables  */
  --transition: all 0.3s ease-out;

  /* border variables  */
  --box-shadow: inset 0 -0.6em 1em -0.35em rgba(10, 18, 32, 0.226),
    inset 0 0.6em 2em -0.3em rgba(69, 122, 155, 0.247),
    inset 0 0 0em 0.05em rgba(6, 19, 46, 0.26);
  --box-shadow-card: 0 1px 3px rgba(19, 46, 87, 0.25);
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: var(--transition);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: auto;
  scroll-padding-top: 3rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 2rem;
}
html::-webkit-scrollbar-track,
html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: var(--box-shadow);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-100);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  background-color: var(--light-blue-300);
  color: var(--deep-blue-300);
}
p {
  font-size: var(--font-size-100);
  letter-spacing: 0.2px;
}
h3 {
  color: var(--deep-blue-200);
  font-size: var(--font-size-200);
}

h6 {
  color: var(--gray);
  font-size: var(--font-size);
  font-style: italic;
  font-weight: 500;
}

/* media queries  */

@media (max-width: 1201px) {
  .content {
    flex-wrap: wrap !important;
  }
  .map-container {
    flex-basis: auto !important;
  }
  .placesList {
    flex-basis: auto !important;
    margin-left: 0 !important;
    width: calc(100vw - 4rem) !important;
    border-left: 0 !important;
    margin-top: var(--space-400) !important;
    justify-self: flex-start !important;
  }
  .card {
    width: calc(100vw - 10rem) !important;
    justify-self: flex-start !important;
    padding: 2rem !important;
    margin-right: 2rem !important;
  }
  .header__search {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .container {
    min-height: auto !important;
  }
  .content {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: auto !important;
    padding: 2rem 1rem !important;
  }
  .category-buttons {
    flex-direction: row !important;
    width: calc(100vw - 2rem) !important;
    height: auto !important;
    align-content: center !important;
    justify-content: center !important;
    padding: 0 !important;
    padding-bottom: 0 !important;
  }
  .category-buttons button {
    margin: 0 !important;
  }
  .category-buttons button:not(:last-of-type) {
    margin-right: var(--space-200)!important;
  }
  .icon {
    margin-bottom: var(--space-100) !important;
  }

  .map-container {
    max-height: 300px !important;
    margin: 2rem 0 !important;
    justify-self: center !important;
  }

  .placeList {
    margin: 0 !important;
  }

  .placeList,
  .map-container {
    width: calc(100vw - 4rem) !important;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
    background: var(--deep-blue-200) !important;
  }
  .header__title {
    padding: 0 0 var(--space-200) 0 !important;
    border-right: none !important;
    font-size: var(--font-size-400) !important;
  }
  .header__search-input {
    width: 100% !important;
    margin-right: 2rem !important;
  }
  .placeList {
    flex: 0 0 100% !important;
    justify-content: center !important;
    overflow-y: hidden !important;
  }
}
